.cart {
  background-color: #16161a;
  color: #fffffe;
  padding: 2.5rem;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.cartHeader {
  height: 80px;
  margin-bottom: 1rem;
  img {
    float: left;
    height: 80px;
    width: 80px;
    border-radius: 4px;
  }

  h3 {
  }
}

.cardBody {
  table {
    width: 100%;
    color: #94a1b2;

    th, td {
      text-align: left;
    }
  }
}

.expandLnk {
  cursor: pointer;
  text-decoration: underline;
  font-size: small;
  color: #94a1b2;

  &:hover{
    color: #94a1b2;
  }
}

.image {
  max-width: 100%;
  max-height: 180px;
}

.name {
  text-transform: capitalize;
  color: #fffffe;
  padding-left: 16px;
  text-align: left;
  word-break: break-all;
  font-size: 1.6rem;
  width: calc(100% - 98px);
  display: table-cell;
  vertical-align: middle;
  height: 80px;
}