.cart {
  background-color: #eaddcf;
  color: #716040;
  padding: 2.5rem;
  border-radius: 3px;
  box-sizing: border-box;
  height: 320px;
  margin-bottom: 16px;
}

.breedTumb {
  max-width: 100%;
  max-height: 180px;
}

.breedName {
  margin: 16px auto;
  text-transform: capitalize;
}