@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body.dark {
  height: 100vh;
  background-color: #242629;

  h1 {
    font-family: 'Grandstander', cursive;
  }

  .container {
    padding: 24px 8px 16px 8px;
  }

  button {
    margin: 20px 8px;
  }

  .btn {
    outline: none;
  }

  .btn.btn-primary {
    background-color: #55423d;
    border-color: #55423d;
    &:hover {
      background-color: #312623;
    }
  }
}
